body {
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F2F2F2;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}